.d{
    
    justify-content: center;
    /* top: 30%; */
   
   margin: auto;
    height: 270px;
   width: 200px;
   background-color: rgb(0, 0, 0);
}
/* .e{
    width: 400px;
    height: 300px;
} */